*{
    margin: 0;
    padding: 8px;
    font-family: 'Roboto',sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0,7),rgba(0,0,0,0.7)),url("2.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
nav{
    flex: 1;
    text-align: right;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.row{
    display: flex;
    height: 80%;
    align-items: center;
}
.col{
    flex-basis: 50%;

}
h{
    font-size: 185%;
    color: aliceblue;
}
h1{
    color: #dc7712f9;
    font-size: 45px;
    line-height: 30px;
}
p{
    color: rgb(22, 13, 0);
    font-size: 15px;
    line-height: 18px;

}

